.app.light {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #202027;
  --primary-color: #0232c2;
  --secondary-color: #0449e0;
  --inverted-primary-color: #ff8f37;
  --inverted-secondary-color: #ffed85;
}
